.header {
    margin-top: 1.5em;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 2em;
}

.header-not-mobile {
    margin-top: 3em;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 4em;
}
