.userWrapper {
    display: flex;
    justify-content: center;
}

.user {
    max-width: 58rem;
}

.statistics {
    justify-content: center;
}

.toastBody {
    color: white;
}

.selectedGender {
    border: 0.2rem solid darkblue;
}
